
.thank-you-container {
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  .thank-you-content {
    
    text-align: center;
    padding: 40px;
    background-color: white;
    width: 400px;
  }
  .icon-img {
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 40px; 
  margin-bottom: 20px; 
}
 
  
  .message {
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .return-home-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .return-home-btn:hover {
    background-color: #333;
  }
  
  @media screen and (max-width: 600px) {
    .thank-you-content {
      padding: 20px; 
    }
  
    .message {
      font-size: 14px; 
    }
  
    .return-home-btn {
      padding: 8px 16px;
      font-size: 14px; 
    }
  }
  